@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");

.multiline {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather Sans", sans-serif;
}

.nav-add {
  height: calc(100vh - 70px);
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.on-load {
  animation: fade-up 0.5s;
}

.on-load-delay {
  animation: fade-up 0.5s;
}

.on-load-nav {
  animation: fade-down 0.5s 0.4s backwards;
}

.txt-shadow {
  color: black;
  font-weight: 700;
  text-shadow: -5px 3px 0px rgb(214, 214, 214);
}
