@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");

.multiline {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather Sans", sans-serif;
}
